.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: RGB(64, 177, 193);
    width: 500px;
    height: 200px;
    padding: 10px;
    gap: 10px;
}

.div-1 {
    background-color: white;
    width: 5%;
    height: 200px;
}

.div-2 {
    background-color: white;
    width: 15%;
    height: 200px;
}

.div-3 {
    background-color: white;
    width: 25%;
    height: 200px;
}

.div-4 {
    background-color: white;
    width: 35%;
    height: 200px;
}

.div-5 {
    background-color: white;
    width: 60%;
    height: 200px;
}