p {
    width: 500px;
    color: rgb(91, 91, 91);
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.code {
    background-color: #f0f0f0;
    padding: 3px;
    font-family: 'Courier New', monospace;
    font-size: 12px;
    overflow-x: auto;
    white-space: nowrap;
}

.comment {
    color: RGB(193, 173, 169);
    font-size: italic;
}

.aqua {
    color: RGB(151, 205, 228);
}